<div class="header">
  <nav class="nav">
    <div class="logo">
      <a href="http://www.coldcoding.top" accesskey="h" title="Cold World">
        <img src="https://images-1311785948.cos.ap-chengdu.myqcloud.com/typora/20240219225844.jpg" alt="logo" aria-label="logo" height="35">
        {{.Site.Title}}
      </a>
      <!-- <div class="logo-switches">
        <button id="theme-toggle" accesskey="t" title="(Alt + T)">
            <svg id="moon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path>
            </svg>
            <svg id="sun" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <circle cx="12" cy="12" r="5"></circle>
                <line x1="12" y1="1" x2="12" y2="3"></line>
                <line x1="12" y1="21" x2="12" y2="23"></line>
                <line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line>
                <line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line>
                <line x1="1" y1="12" x2="3" y2="12"></line>
                <line x1="21" y1="12" x2="23" y2="12"></line>
                <line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line>
                <line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line>
            </svg>
        </button>
      </div> -->
    </div>
    <nav>
      <ul class="menu wide">
        <!-- {{ range .Site.Menus.main }}
        <li>
          <a class="no-tag" href="{{ .URL | relURL }}">
            {{ .Name }}
          </a>
        </li>
        {{ end }} -->
        {{- range .Site.Menus.main -}}
          {{ if .HasChildren }}
            <div class="dropdown pc">
                <a {{ if .URL }}href="{{ .URL }}" {{ else }}href="javascript:void(0);" {{ end }}
                    class="menu-item menu-more dropbtn" title="{{ .Title }}" {{ if eq .Post "_blank"
                    }}target="_blank" rel="noopener" {{ end }}>
                    {{- .Pre | safeHTML }} {{ .Name }} {{ if ne .Post "_blank" }}{{ .Post | safeHTML -}}{{ end }}
                </a>
                <div class="menu-more-content dropdown-content">
                    {{- range .Children -}}
                      {{- $url := .URL | relLangURL -}}
                      {{- with .Page -}}
                      {{- $url = .RelPermalink -}}
                      {{- end -}}
                    <a href="{{ $url }}" title="{{ .Title }}" {{ if eq .Post "_blank" }} target="_blank" rel="noopener" {{ end }}>
                      {{- .Pre | safeHTML }} {{ .Name }} {{ if ne .Post "_blank" }}{{ .Post | safeHTML -}}{{ end }}
                    </a>  
                    {{- end -}}
                </div>
            </div>
            <div class="dropdown mobile">
              <a {{ if .URL }}href="{{ .URL }}"{{ else }}href="javascript:void(0);"{{ end }} class="menu-item menu-more dropbtn" title="{{ .Title }}" {{ if eq .Post "_blank" }}target="_blank" rel="noopener"{{ end }}>
                  {{- .Pre | safeHTML }} {{ .Name }} {{ if ne .Post "_blank" }}{{ .Post | safeHTML -}}{{ end }}
              </a>
              <div class="menu-more-content dropdown-content">
                  {{- range .Children -}}
                      {{- $url := .URL | relLangURL -}}
                      {{- with .Page -}}
                          {{- $url = .RelPermalink -}}
                      {{- end -}}
                          <a href="{{ $url }}" title="{{ .Title }}" {{ if eq .Post "_blank" }}target="_blank" rel="noopener"{{ end }}>{{- .Pre | safeHTML }} {{ .Name }} {{ if ne .Post "_blank" }}{{ .Post | safeHTML -}}{{ end }}</a>
                  {{- end -}}
              </div>
            </div>
          {{ else }}
            {{- $url := .URL | relLangURL -}}
            {{- with .Page -}}
            {{- $url = .RelPermalink -}}
            {{- end -}}
            <a class="menu-item{{ if $.IsMenuCurrent `main` . | or ($.HasMenuCurrent `main` .) | or (eq $.RelPermalink $url) }} active{{ end }}"
                href="{{ $url }}" {{ with .Title }} title="{{ . }}" {{ end }}{{ if (urls.Parse $url).Host }} rel="noopener noreffer" target="_blank" {{ end }}>
                {{- .Pre | safeHTML }} {{ .Name }} {{ if ne .Post "_blank" }}{{ .Post | safeHTML -}}{{ end }}
            </a>
          {{- end -}}
        {{- end -}}
      </ul>
    </nav>
  </nav>
</div>