{{define "main"}}
<article class="post-single">
  <div id="single-content">
    <header class="post-header">
      <div class="breadcrumbs">{{ partial "breadcrumb.html" . }}</div>
      <h1 class="post-title">{{ .Title | markdownify }}</h1>
      <div class="post-meta">{{ partial "postmeta.html" . }}</div>
    </header>
    {{- if .Content }}
    {{- if (.Site.Params.page.toc) }}
      {{ partial "toc.html" . }}
    {{- end }}
    <div class="post-content">{{ .Content }}</div>
    {{- end }}
  </div>
</article>

{{ if not (eq .Params.comment false) }}
  {{ partial "comments/include.html" . }}
{{ end }}

{{end}}